################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.env
/node_modules
/coverage
/.nyc_output
/.vs